@import "src/styles";
@include mat-core();

.absence-table-full-width {
  width: 100%;
}

.absence-table-bigger-tooltip {
  font-size: small;
  background: mat-color($primary);
  opacity: 0.9;
}

.absence-table-row-approved {
  background: lightgray;
}

.absence-table-action-container {
  display: flex;
  padding: 5px 25px;
  justify-content: space-between;
  align-items: center;
}

.absence-table-selector-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-left: solid lightgray 2px;
}

.mat-form-field {
  padding: 0 15px;
}
